<h1>

<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart.png" class="serduszko">
<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart.png" class="serduszko">
<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart.png" class="serduszko">

	Basia on Rails 

<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart.png" class="serduszko">
<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart.png" class="serduszko">
<img src="https://pbs.twimg.com/profile_images/1506394191/railsgirls-heart.png" class="serduszko">

</h1>


<img src="
https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/t1/1619355_669302386449291_2100503616_n.jpg" class="syrenka">
<img src="http://www.komputerswiat.pl/media/2014/30/3286378/rails-girls-warsaw_p.jpg" class="banerowe">
<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-frc1/t1/1907581_669302329782630_934647165_n.jpg" class="syrenka">


<p>Juhuuuuu!!!!!! <b> Rails Girls 2014!!! </b>  Trzecia aplikacja i masz ci los! Nie dostałam się kiedy było 200 chętnych na 40 miejsc, nie dostałam się, kiedy było 300 chętnych, ale... taramtaramtaram.... dostaję się kiedy jest 1100 chętnych na 44 miejsca </p>

<p> <a href="https://scontent-b.xx.fbcdn.net/hphotos-prn1/t1/1969368_668996063146590_1117127427_n.jpg" target="_blank"> </p>


	Tak wygląda Dziewczę dobrze zachęcone do działania prezentami
 </a>

<p>Basia sobie przypomniała, że</p>

<div align: center>
<ul>


<li>czarny ekran i literki są zajebiście-fucking-awsome!!!</li>
<li>w dzieciństwie grałam w gry w basicu</li>


</ul>

</div>



<h2>
<%=link_to "no i szto zdjelałam:",wpis_path %>
  
</h2>
  
 